@import 'variables';
@import 'reset';
@import 'spacing';
@import 'layout';
@import 'tables';
@import 'forms';
@import 'buttons';

@font-face {
  font-family: 'f1-regular';
  src: url('fonts/f1-regular.ttf');
}

@font-face {
  font-family: 'titillium-regular', sans-serif;
  src: url('fonts/titillium-regular.ttf');
}

body {
  background-color: $dark;
  color: $white;
}

.main-nav {
  background-color: $primary;
  margin-bottom: 2rem;

  .links {
    display: flex;
    justify-content: center;

    a {
      font-family: $fontFamilyMain;
      padding: 2rem;
      color: $white;
      text-decoration: none;
      transition: background-color 0.25s ease-out;

      &:hover {
        background-color: #000000;
      }

      &.active {
        span {
          border-bottom: 1px solid $white;
          border-right: 1px solid $white;
          padding: 7px 10px 10px 7px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

a {
  color: $primary;
  text-decoration: none;
  font-family: $fontFamilyMain;
}

.filter-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
